@import url(lato.css);

/* general styles */
* {
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1020px;
    min-height: 100vh;
    margin: auto;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
/* general styles end */

/* header block */
.header {
    height: 95px;
    width: 1020px;
    position: fixed;
    top: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
    z-index: 50;
}

.header__nav {
    margin-top: 6px;
}

.header__menu {
    position: absolute;
    left: 20px;
    top: 26px;
    width: 25px;
    height: 20px;
    z-index: 100;
    transition: 300ms;
}

.header__menu_open {
    transform: rotate(90deg);
}

@media all and (max-width: 1019px) {
    .header {
        width: 100%;
    }
}

@media all and (max-width: 767px) {
    .header {
        height: 71px;
        justify-content: center;
    }
}
/* header block end */

/* logo block */
.logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.logo__asterisk {
    color: #f06c64;
}
/* logo block end */

/* top-nav block */
.top-nav__list {
    display: flex;
    list-style: none;
}

.top-nav__link {
    margin-left: 14px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.top-nav__link::before {
    content: '·';
    color: #494e62;
    margin-right: 14px;
}

.top-nav__link_active {
    color: #f06c64;
}

.top-nav__link_no-point::before {
    content: none;
}

@media all and (max-width: 767px) {
    .top-nav {
        width: 278px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: 300ms;
        background-color: #2D303A;
    }

    .top-nav_open {
        transform: translateX(0%);
    }

    .top-nav__list {
        flex-direction: column;
    }

    .top-nav__link {
        margin: 0 0 27px;
        display: block;
        font-size: 24px;
    }

    .top-nav__link::before {
        content: '';
    }
}

/* top-nav block end */

/* slider block */
.slider {
    position: relative;
    height: 600px;
    margin-top: 95px;
    padding: 0 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
    overflow: hidden;
}

.slider::before, .slider::after {
    position: absolute;
    top: 281px;
    cursor: pointer;
}

.slider::before {
    content: url(../assets/images/chev_left.png);
    left: 42px;
}

.slider::after {
    content: url(../assets/images/chev_right.png);
    right: 40px;
}

@media all and (max-width: 1019px) {

    .slider {
        height: 451px;
        margin-top: 71px;
        padding: 0 84px;
    }

    .slider::before, .slider::after {
        top: 211px;
    }

    .slider__item_vertical {
        width: 181px;
    }

    .slider__item_horizontal {
        width: 365px;
    }
}

@media all and (max-width: 767px) {

    .slider {
        height: 220px;
        padding: 0 42px;
    }

    .slider::before, .slider::after {
        top: 98px;
    }

    .slider::before {
        left: 10px;
    }
    
    .slider::after {
        right: 10px;
    }

    .slider__item_vertical {
        width: 88px;
    }

    .slider__item_horizontal {
        width: 177px;
    }
}

/* slider block end */

/* services block */
.services {
    padding: 60px 40px 68px;
    color: #666d89;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    box-sizing: border-box;
}

.services__heading {
    font-size: 30px;
    font-weight: 900;
}

.services__paragraph {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.services__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__card {
    width: 300px;
    height: 86px;
    margin-top: 43px;
}

.services__card:nth-child(4), .services__card:nth-child(5), .services__card:nth-child(6) {
    margin-top: 37px;
}

@media all and (max-width: 767px) {
    .services {
        padding: 25px 32px 15px;
    }
}
/* services block end */

/* card block */
.card {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.card__icon-container {
    width: 60px;
    height: 60px;
    margin: 4px 0 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #666d89;
    border-radius: 50%;
    box-sizing: border-box;
}

.card__text-block {
    width: 220px;
}

.card__heading {
    font-size: 18px;
    font-weight: 900;
}

.card__description {
    margin-top: 8px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-size: 11px;
}
/* card block end */

/* portfolio section */

.portfolio {
    padding: 60px 40px 47px;
    color: #666d89;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}

.portfolio__heading {
    font-size: 30px;
    font-weight: 900;
}

.portfolio__subtitle {
    margin-top: 23px;
    font-size: 18px;
    font-weight: 300;
}

.portfolio__filter {
    margin-top: 14px;
}

.portfolio__grid {
    height: 621px;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}

.portfolio__image {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.portfolio__image_active {
    border: 5px solid #F06C64;
}

@media all and (max-width: 1019px) {

    .portfolio__grid {
        height: auto;
    }

    .portfolio__image {
        width: 216px;
        height: 183px;
    }
}

@media all and (max-width: 767px) {
    .portfolio {
        padding: 42px 30px;
    }

    .portfolio__image {
        width: 140px;
        height: 128px;
    }
}

/* portfolio section end */

/* filter block */

.filter__item {
    margin-right: 8px;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 400;
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    background-color: transparent;
    transition: 300ms;
    box-sizing: border-box;
    cursor: pointer;
}

.filter__item_active, .filter__item:hover {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

@media all and (max-width: 767px) {
    .filter__item {
        margin-right: 4px;
    }
}

/* filter block end */

/* about section */

.about {
    padding: 60px 40px 68px;
    color: #666d89;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.about__heading {
    font-size: 30px;
    font-weight: 900;
}

.about__subtitle {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
}

.about__cards {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__card {
    width: 300px;
}

@media all and (max-width: 1019px) {
    
    .about {
        padding: 60px 30px 68px;
    }

    .about__card {
        width: 219px;
    }
}

@media all and (max-width: 767px) {

    .about {
        padding: 33px 30px 45px;
    }

    .about__cards {
        justify-content: center;
    }

    .about__card {
        width: 314px;
        margin-bottom: 34px;
    }
}

/* about section end */

/* profile-card block */

.profile-card {
    box-sizing: border-box;
}

.profile-card__image {
    width: 100%;
    height: 300px;
}

.profile-card__name {
    height: 20px;
    margin-top: 12px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 900;
}

.profile-card__description {
    margin-top: 10px;
    line-height: 1.7;
    font-size: 12px;
    font-weight: 400;
}

.profile-card__social-icons {
    margin-top: 23px;
    display: flex;
}

@media all and (max-width: 1019px) {
    .profile-card__image {
        height: 218px;
    }
}

@media all and (max-width: 767px) {
    .profile-card__image {
        heigth: 314px;
    }
}

/* profile-card block end */

/* social-icon block */

.social-icon {
    height: 32px;
    width: 32px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6a718c;
    border-radius: 50%;
    box-sizing: border-box;
}

/* social-icon block end */

/* contact block */

.contact {
    padding: 55px 34px 50px;
    color: #f0d8d9;
    background-color: #f06c64;
    border: 6px solid #ea676b;
    box-sizing: border-box;
}

.contact__heading {
    font-size: 30px;
    font-weight: 900;
}

.contact__paragraph {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
}

.contact__body {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__form {
    width: 620px;
}

.contact__info {
    padding: 0 20px;
    width: 320px;
    box-sizing: border-box;
}

@media all and (max-width: 1019px) {
    .contact__form {
        width: 442px;
    }

    .contact__info {
        width: 221px;
    }
}

@media all and (max-width: 767px) {
    .contact__form, .contact__info {
        padding: 0;
        width: 100%;
    }

    .contact__info {
        margin-top: 32px;
    }
}

/* contact block end */

/* form block */

.form {
    display: flex;
    flex-direction: column;
}

.form__input, .form__textarea {
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    padding: 0 15px;
    border: none;
    background-color: #d6564f;
    border-radius: 5px;
    box-sizing: border-box;
}

.form__input::placeholder, .form__textarea::placeholder {
    font-size: 12px;
    color: #f48c8f;
}

.form__textarea {
    height: 202px;
    padding: 12px 15px;
}

.form__button {
    height: 40px;
    width: 120px;
    color: #f48c8f;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* form block end */

/* info block */

.info {
    display: flex;
    flex-direction: column;
}

.info__heading {
    font-size: 18px;
    font-weight: 900;
}

.info__paragraph {
    margin-top: 10px;
    line-height: 1.75;
    font-size: 12px;
    font-weight: 400;
}

.info__details {
    margin-top: 26px;
    font-size: 12px;
    list-style: none;
}

.info__detail {
    margin-bottom: 10px;
}

.info__icon {
    margin-right: 15px;
}

/* info block end */

/* footer block */

.footer {
    height: 76px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666d89;
    font-size: 11px;
    background-color: #2d303a;
}

.footer__icons {
    display: flex;
    align-items: center;
}

.footer__icon {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666d89;
    border-radius: 50%;
    box-sizing: border-box;
}

@media all and (max-width: 767px) {
    .footer {
        justify-content: center;
    }
}

/* footer block end */

/* responsiveness */

.desktop-hidden {
    display: none;
}

@media all and (max-width: 767px) {
    .desktop-hidden {
        display: inherit;
    }

    .mobile-hidden {
        display: none;
    }
}

/* responsiveness end */