/* general styles */
* {
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1020px;
    height: 100vh;
    margin: auto;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
/* general styles end */

/* header block */
.header {
    height: 95px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}

.header__nav {
    margin-top: 6px;
}
/* header block end */

/* logo block */
.logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo__asterisk {
    color: #f06c64;
}
/* logo block end */

/* top-nav block */
.top-nav__list {
    display: flex;
    list-style: none;
}

.top-nav__link {
    margin-left: 29px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.top-nav__link_active {
    color: #f06c64;
}
/* top-nav block end */

/* slider block */
.slider {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.slider::before, .slider::after {
    position: absolute;
    top: 281px;
    cursor: pointer;
}

.slider::before {
    content: url(../images/chev_left.png);
    left: 42px;
}

.slider::after {
    content: url(../images/chev_right.png);
    right: 40px;
}
/* slider block end */