/* general styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.page {
    width: 1020px;
    margin: auto;
}
/* general styles end */

/* portfolio section */

.portfolio {
    padding: 60px 40px 73px;
    color: #666d89;
    background-color: #2d303a;
}

.portfolio__heading {
    font-size: 30px;
    font-weight: 900;
}

.portfolio__subtitle {
    margin-top: 23px;
    font-size: 18px;
    font-weight: 300;
}

.portfolio__filter {
    margin-top: 14px;
}

/* portfolio section end */

/* filter block */

.filter__item {
    margin-right: 8px;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 400;
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    background-color: transparent;
    transition: 300ms;
    box-sizing: border-box;
    cursor: pointer;
}

.filter__item_active, .filter__item:hover {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

/* filter block end */