@import url(lato.css);

/* general styles */
* {
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1020px;
    height: 100vh;
    margin: auto;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
/* general styles end */

/* contact block */

.contact {
    padding: 55px 34px 50px;
    color: #f0d8d9;
    background-color: #f06c64;
    border: 6px solid #ea676b;
    box-sizing: border-box;
}

.contact__heading {
    font-size: 30px;
    font-weight: 900;
}

.contact__paragraph {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
}

.contact__body {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.contact__form {
    width: 620px;
}

.contact__info {
    padding: 0 20px;
    width: 320px;
    box-sizing: border-box;
}


/* contact block end */

/* form block */

.form {
    display: flex;
    flex-direction: column;
}

.form__input, .form__textarea {
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    padding: 0 15px;
    border: none;
    background-color: #d6564f;
    border-radius: 5px;
    box-sizing: border-box;
}

.form__input::placeholder, .form__textarea::placeholder {
    font-size: 12px;
    color: #f48c8f;
}

.form__textarea {
    height: 202px;
    padding: 12px 15px;
}

.form__button {
    height: 40px;
    width: 120px;
    color: #f48c8f;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* form block end */

/* info block */

.info {
    display: flex;
    flex-direction: column;
}

.info__heading {
    font-size: 18px;
    font-weight: 900;
}

.info__paragraph {
    margin-top: 10px;
    line-height: 1.75;
    font-size: 12px;
    font-weight: 400;
}

.info__details {
    margin-top: 26px;
    font-size: 12px;
    list-style: none;
}

.info__detail {
    margin-bottom: 10px;
}

.info__icon {
    margin-right: 15px;
}

/* info block end */

/* footer block */

.footer {
    height: 76px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666d89;
    font-size: 11px;
    background-color: #2d303a;
}

.footer__icons {
    display: flex;
    align-items: center;
}

.footer__icon {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666d89;
    border-radius: 50%;
    box-sizing: border-box;
}

/* footer block end */