/* general styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.page {
    width: 1020px;
    margin: auto;
}
/* general styles end */

/* portfolio section */

.portfolio {
    padding: 60px 40px 47px;
    color: #666d89;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}

.portfolio__heading {
    font-size: 30px;
    font-weight: 900;
}

.portfolio__subtitle {
    margin-top: 23px;
    font-size: 18px;
    font-weight: 300;
}

.portfolio__filter {
    margin-top: 14px;
}

.portfolio__grid {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.portfolio__image {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

/* portfolio section end */

/* filter block */

.filter__item {
    margin-right: 8px;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 400;
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    background-color: transparent;
    transition: 300ms;
    box-sizing: border-box;
    cursor: pointer;
}

.filter__item_active, .filter__item:hover {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

/* filter block end */

/* about section */

.about {
    padding: 60px 40px 0;
    color: #666d89;
    background-color: #f2f2f2;
}

.about__heading {
    font-size: 30px;
    font-weight: 900;
}

.about__subtitle {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
}

/* about section end */