@import url(lato.css);

/* general styles */
* {
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1020px;
    height: 100vh;
    margin: auto;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
/* general styles end */